In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
housing = pd.read_csv('datasets/housing.csv')
housing.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [3]:
housing = housing.dropna()
housing = housing.drop(housing.loc[housing['median_house_value'] == 500001].index)

In [4]:
housing = pd.get_dummies(housing, columns= ['ocean_proximity'])

In [6]:
housing.shape

(19475, 14)

In [7]:
median = housing['median_house_value'].median()
median

173800.0

In [8]:
housing['above_median'] = (housing['median_house_value'] - median) > 0

In [9]:
housing.sample(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN,above_median
9144,-117.79,34.45,18.0,2986.0,597.0,1355.0,472.0,3.2765,165000.0,0,1,0,0,0,False
16761,-122.49,37.67,35.0,5275.0,903.0,2892.0,842.0,4.6771,266400.0,0,0,0,0,1,True
2733,-115.56,32.79,18.0,1178.0,438.0,1377.0,429.0,1.3373,58300.0,0,1,0,0,0,False
2842,-118.98,35.40,36.0,1443.0,273.0,680.0,259.0,2.9821,73100.0,0,1,0,0,0,False
8313,-118.13,33.77,37.0,4365.0,926.0,1661.0,868.0,5.3046,360700.0,0,0,0,0,1,True

In [10]:
X = housing.drop(['median_house_value', 'above_median'],
                 axis= 1)
Y = housing['above_median']

In [11]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size= 0.2)

In [12]:
from sklearn.linear_model import LogisticRegression

logistic_model = LogisticRegression(solver= 'liblinear').fit(x_train, y_train)

In [13]:
print("Training score: ", logistic_model.score(x_train, y_train))

Training score:  0.8216944801026957

In [14]:
y_pred = logistic_model.predict(x_test)

In [15]:
df_result = pd.DataFrame({'predicted': y_pred, 'actual': y_test})
df_result.head()

       predicted  actual
8555        True    True
6411        True    True
18386       True    True
12915       True    True
15813       True    True

In [16]:
from sklearn.metrics import accuracy_score

print("Testing score: ", accuracy_score(y_test, y_pred))

Testing score:  0.8151476251604621